/*Project primary colors to be used*/

$primary-color: #404B49;
$secondary-color: #26312F;
$third-color: #C0C2C3;
$font-color: #7E7E7E;
$call-to-action: #6CD11C;



$primary-text-color: #FFFFFF;
$secondary-text-color: rgba(#FFFFFF, 0.6)